body{
    background-size:cover;
}

.heading{
    font-size:25px;
}


canvas{
    background-color:white;
    border: 5px black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #711c80;
}


























